* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: #fafafa;
}

.navbar {
  position: fixed;
  z-index: 100000;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(255, 255, 255);
  width: 100%;
  border: 1px solid rgb(218, 217, 217);
}

.navbar .container {
  padding: 15px 0;
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container .logo {
  cursor: pointer;
}

.searchbar {
  position: relative;
  width: 160px;
}

.searchbar input {
  width: 100%;
  background-color: #fafafa;
  padding: 5px 8px 5px 28px;
  
  border: 1px solid rgb(218, 217, 217);
  border-radius: 2px;
}

.searchbar img {
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
  width: 14px;
  height: 14px;
}

.searchbar input::placeholder {
  font-weight: lighter;
  color: rgb(172, 172, 172);
}

.nav-links {
  font-weight: lighter;
  color: rgb(172, 172, 172);
}





.action .profile {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
 
}

.action .profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

main .container {
  position: relative;
  margin-top: 60px;
  width: 75%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.main-feed {
  width: 65%;
  margin-top: 30px;
}

.statuses {
  margin-bottom: 30px;
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 20px 0;
  
  border: 1px solid rgb(218, 217, 217);
  overflow: auto;
}

.statuses .status {

  border-radius: 50%;
 
  width: 70px;
  height: 70px;
  min-width: 70px;
  min-height: 70px;
  background: linear-gradient(to right, red, orange);
  padding: 2px;
  margin-left: 15px;
  cursor: pointer;
}

.statuses .status .image {
  
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid white;
}

.statuses .status img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sidebar {
  width: 33%;

  position: sticky;
  top: 90px;
}

.sidebar h4 {
  color: rgb(100, 100, 100);
}


.sidebar .card .top {
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar .card .top a {
  color: #1d92ff;
}

.sidebar .card .bottom {
  padding: 10px 20px;
}

.sidebar .card .top .userDetails {
  width: 100%;
  display: flex;
  align-items: center;
}

.sidebar .card .top .userDetails h3 {
  font-size: 16px;
  color: #4d4d4f;
  font-weight: 500;
  line-height: 1em;
}

.sidebar .card .top .userDetails h3 span {
  font-size: 0.75em;
}

.sidebar .card .top .userDetails h3 span {
  font-size: 0.75em;
}

.main-feed .card {
  margin-bottom: 20px;
  position: relative;
  width: 100%;
  border: 1px solid rgba(7, 7, 7, 0.24);
}

.main-feed .card .top {
  padding: 10px 20px;
  display: flex;
  align-items: center;
}

.main-feed .card .bottom {
  padding: 10px 20px;
}

.main-feed .card .top .userDetails {
  display: flex;
  align-items: center;
}

.profilepic {
  display: inline-block;
  cursor: pointer;
}

.profilepic .profile_img {
  border-radius: 50%;
  overflow: hidden;
  width: 30px;
  height: 30px;
  background: linear-gradient(to right, red, orange);
  padding: 2px;
  margin-right: 8px;
  cursor: pointer;
}

.profilepic .profile_img .image {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
}

.profilepic .profile_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cover {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-feed .card .top .userDetails h3 {
  /* width: 100%; */
  font-size: 16px;
  color: #4d4d4f;
  font-weight: 500;
  line-height: 1em;
}

.main-feed .card .top .userDetails h3 span {
  font-size: 0.75em;
}

.main-feed .card .top .userDetails h3 span {
  font-size: 0.75em;
}

.dot {
  transform: scale(0.6);
  cursor: pointer;
}

.imgBx {
  position: relative;
  width: 100%;
  min-height: 600px;
  margin: 10px 0 15px;
}

.actionBtns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.actionBtns svg {
  cursor: pointer;
}

.actionBtns .left svg {
  margin-right: 8px;
}

.likes {
  font-weight: 500;
  margin-top: 5px;
  font-size: 14px;
  color: #4d4d4f;
}

.message {
  font-weight: 400;
  margin-top: 5px;
  font-size: 14px;
  color: #777;
  line-height: 1.5em;
}

.message b {
  color: #262626;
}

.message span {
  cursor: pointer;
  color: #1d92ff;
}

.comments {
  margin-top: 10px;
  font-weight: 400;
  color: #999;
}

.addComments {
  display: flex;
  align-items: center;
  margin-top: 20px;
  border-top: 1px solid #ddd;
  padding: 10px 0;
}

.addComments a {
  color: #1d92ffcb;
  font-weight: 500;
}

.addComments .reaction {
  position: relative;
  font-size: 1.3rem;
  margin-right: 10px;
  color: rgb(88, 88, 88);
}

input.text {
  width: 100%;
  border: none;
  outline: none;
  font-weight: 400;
  font-size: 14px;
  color: #262626;
  background: none;
}

input.text::placeholder {
  color: #777;
}

.postTime {
  margin-top: 8px;
  font-weight: lighter;
  color: rgb(163, 163, 163);
  font-size: 12px;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

.hidden {
  display: none;
}

